$grid-gutter-width:             60px;

$brand-primary:                 $asbestos;

$font-size-base: 16px;

$local-font-path:               "../fonts/lato/";
$local-font-name:               "Lato-Regular";
$local-font-svg-id:             "latoregular";
$local-font-name-light:         "Lato-Light";
$local-font-svg-id-light:       "latolight";
$local-font-name-black:         "Lato-Black";
$local-font-svg-id-black:       "latoblack";
$local-font-name-bold:          "Lato-Bold";
$local-font-svg-id-bold:        "latobold";
$local-font-name-italic:        "Lato-Italic";
$local-font-svg-id-italic:      "latoitalic";
$local-font-name-bold-italic:   "Lato-BoldItalic";
$local-font-svg-id-bold-italic: "latobold-italic";

$icon-font-path:            "../fonts/flat-ui/";
