/* The Overlay (background) */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgba(241,241,241, 0.9);
    overflow-y: scroll;
    transition: 0.5s;
}

.overlay-contentx {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -15px;
    right: 45px;
    font-size: 60px;
}

.scaleBigger img {
    -webkit-transition: all .1s ease; /* Safari and Chrome */
    -moz-transition: all .1s ease; /* Firefox */
    -ms-transition: all .1s ease; /* IE 9 */
    -o-transition: all .1s ease; /* Opera */
    transition: all .1s ease;
}

.scaleBigger:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
     cursor: pointer;
}
