.thumbnail {
  padding: 0;
  margin: 0;
  border: none;

  > a {
  display: block;
  overflow: hidden;
  padding-bottom: 3 / 4 * 100%;
  position: relative;
  width: 100%;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 1 / 3 * 100%;
    > img {
      height: auto !important;
      width: 100% !important;
    }
  }

    > img {
      position: absolute;
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
}

.loop-thumbnail {
  padding-right: 0;

  @media (max-width: $screen-md-max) {
    padding-left: 0;
    margin-bottom: 20px;
  }
}
