.loop {
  padding: 30px 0;

  background-image: linear-gradient(to right, $silver 50%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 6px 1px;
  background-repeat: repeat-x;

  .meta {
    @extend .small;
  }
}
