{{!< default}}
<div class="splash">
  <div class="center">
    <div class="bookshelf">
      <div class="shelf">
        <div class="row-1">
          <div class="loc">
            <div>
              <div class="sample thumb1" sample="edisi1" style="background-image:url({{asset "magazine/edisi1/pics/preview.jpg"}});"></div>
            </div>
            <div>
              <div class="sample thumb2" sample="edisi2" style="background-image:url({{asset "magazine/edisi2/pics/preview.jpg"}});"></div>
            </div>
            <div>
              <div class="sample thumb3" sample="edisi3" style="background-image:url({{asset "magazine/edisi3/pics/preview.jpg"}});"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="suggestion">&uarr; Click a magazine to see it's full content</div>
    </div>
    <div class="samples">
      <div id="book-wrapper">
        <div id="book-zoom">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bookshelf-row">
	<div class="sample thumb1" sample="edisi1" style="background-image:url({{asset "magazine/edisi1/pics/preview.jpg"}});"></div>
	<div class="sample thumb2" sample="edisi2"></div>
	<div class="sample thumb3" sample="edisi3"></div>
</div>
